@charset "UTF-8";
body {
    font-family: 'Architects Daughter', cursive, Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(243,233,241,255);
}
a {
    color: #000;
    font-size: 1.5rem;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
li a:hover {
    color:#fff;
    text-decoration: none;
}
.navbar-nav:hover {
    color:#fff;
}
h1, h2 {
    font-weight: bold;
}
p {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar {
    background : linear-gradient(to left top, #8f5bfe, #e78b07);
    column-gap: 20px;
}
.list-inline-item {
    font-size: 1.5rem;
}
.produits {
    width: 100%;
    background : linear-gradient(to left top, #8f5bfe, #e78b07);
    text-align: center;
}
footer {
    width: 100%;
    background : linear-gradient(to left top, #8f5bfe, #e78b07);
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.teddies {
   border: solid;
   padding: 1rem;
}
#imageUrl {
    width: 80%;
    height: 80%;
    align-items: center;
}