@charset "UTF-8";
body {
    font-family: 'Architects Daughter', cursive, Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(243,233,241,255);
}
/*----Version Mobile----*/
@media (min-width: 50px) {
    a {
        color: #000;
        font-size: 1.5rem;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
    }
    li a:hover {
        color:#fff;
        text-decoration: none;
    }
    .col > a:hover {
        color: #850260;
        text-decoration: underline;
    }
    .navbar-nav:hover {
        color:#fff;
    }
    h1, h2, h3, h5 {
        font-weight: bold;
    }
    p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .navbar {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        column-gap: 20px;
    }
    .list-inline-item {
        font-size: 1.5rem;
    }
    .produits {
        width: 100%;
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        text-align: center;
    }
    footer {
        width: 100%;
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
    }
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .teddies {
    border: solid;
    border-color: #850260;
    border-width: 0.25rem;
    width: 100%;
    }
    #imageUrl {
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .card {
        background-color: rgba(243,233,241,255);
        border: solid;
        border-color: #850260;
        border-width: 0.25rem;
    }
    .card-img-top {
        width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .card-body {
        flex-direction: column;
        font-weight: bold;
    }
    .btn {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        font-weight: bold;
        width: 10rem;
        margin-right: auto;
        margin-left: auto;
    }
    .btn:hover, input:hover {
        color: #fff;
    }
    .card-price {
        font-weight: bold;
        font-size: 1.5rem;
    }
    #colors {
        color: #000;
        font-weight: bold;
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        width: 10rem;
        cursor: pointer;
    }
    option {
        color: #000;
        font-weight: bold;
    }
    .custom-select {
        display: flex;
        justify-content: center;
        border-width: 0.10rem;
        border-color: #850260;
    }
    .btn-retour {
        font-weight: bold;
        display: flex;
        justify-content: center;
           
    }
    .btn-retour a {
        font-size: 1rem;
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.25rem;
        border: solid;
        border-width: 0.10rem;
        border-color: #850260;
    }
    #btnAjoutPanier {
        border-color: #850260;
        border-width: 0.10rem;
    }
    #btnAjoutPanier:hover {
        color: #fff;
    }
    label {
        font-weight: bold;
        font-size: 1.25rem;
    }
    input {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        font-weight: bold;
        border-radius: 0.25rem;
        border-color: #8f5bfe;
    }
    .btn input {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input::placeholder {
        color: #850260;
    }
    .commande__validation {
        border: none;
    }
    .votre__commande, .card-panier__form {
        border: solid;
        border-color: #850260;
        border-width: 0.25rem;
    }
    .legende {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
    }
    .card-panier__commande {
        align-items: center;
        font-size: 1.10rem;
    }
    .card-panier__form__button:hover {
        color: #fff;
    }
    .total {
        font-size: 2.5rem;
        clear: right;
    }
    .erreur {
        font-size: 1.5rem;
    }
    button#submit {
        background-image : linear-gradient(to left top, #8f5bfe, #e78b07);
        border-color: #850260;
        border-radius: 0.25rem;
        border-width: 0.10rem;
    }
    #submit > h3 {
        margin: 0.25rem;
    }
    #submit > h3:hover {
        cursor: pointer;
        color: #fff;
    }
    .width-vide-panier {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        width: 60%;
        border: solid;
        border-color: #850260;
        border-radius: 0.25rem;
        border-width: 0.10rem;
        float: right;
    }
    .card-panier__form > h2 {
        margin: 0.5rem
    }
    .recap {
        border: solid;
        border-color: #850260;
        border-width: 0.25rem;
    }
    .prenom, .price2, .id {
        background : linear-gradient(to left top, #8f5bfe, #e78b07);
        font-size: 2rem;
        font-weight: bold;
    }
    .champ_valide {
        display : block;
    }
}
@media (min-width: 450px) {
    .card-img-top {
        width: 80%;
        height: 80%;
    }
}
@media (min-width: 760px) {
    .teddies {
        width: 45%;
    }
    .width-vide-panier {
        width: 30%;
    }
    .champ_valide {
        display : inline;
    }
}
@media (min-width: 1024px) {
    .card-img-top {
        width: 50%;
        height: 50%;
    }
    .width-vide-panier {
        width: 25%;
    }
}